daemon off;
# Heroku dynos have at least 4 cores.
worker_processes <%= ENV['NGINX_WORKERS'] || 4 %>;

events {
  use epoll;
  accept_mutex on;
  worker_connections 1024;
}

http {
  server_tokens off;

  gzip on;
  gzip_comp_level 2;
  gzip_min_length 512;

  log_format l2met 'measure#nginx.service=$request_time request_id=$http_x_request_id';
  access_log logs/nginx/access.log l2met;
  error_log logs/nginx/error.log;

  include mime.types;
  default_type application/octet-stream;
  sendfile on;
  index index.html index.htm index.cfm;

  # Must read the body in 5 seconds.
  client_body_timeout 5;
  keepalive_timeout 5;

  server {
    listen <%= ENV["PORT"] %>;
    server_name increase-lucee.herokuapp.com;

    root /app/webroot; # path to your app

    include default.inc;

    # CFML tomcat proxy
    location ~ \.(cfm|cfml|cfc|jsp|cfr)(.*)$ {
      proxy_pass http://127.0.0.1:8080;
      proxy_redirect off;
      proxy_set_header Host $host;
      proxy_set_header X-Forwarded-Host $host;
      proxy_set_header X-Forwarded-Server $host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Real-IP $remote_addr;
    }
  }

  server {
    listen <%= ENV["PORT"] %>;
    server_name christian-spescha.ch www.christian-spescha.ch;

    root /app/webroot/christian-spescha.ch; # path to your app

    include default.inc;

    # SES if file not exists
    location / {
      try_files $uri $uri/ @ses;
    }

    # SES rewrite
    location @ses {
      rewrite ^ /index.cfm/$uri;
    }

    # CFML tomcat proxy
    location ~ \.(cfm|cfml|cfc|jsp|cfr)(.*)$ {
      rewrite /(.*) /christian-spescha.ch/$1 break;

      proxy_pass http://127.0.0.1:8080;
      proxy_redirect off;
      proxy_set_header Host $host;
      proxy_set_header X-Forwarded-Host $host;
      proxy_set_header X-Forwarded-Server $host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Real-IP $remote_addr;
    }
  }
}
